
.container-column {
    display: flex;
    flex-direction: row;
    min-width: 600px;
    height: 100vh;
}

.col1 {
    width: 200px;
    min-width: 200px;
    overflow-x: scroll;
    border: 1px solid black;
}

.col2 {
    width: 100%;
    min-width: 100px;
    border: 1px solid black;
}

.col3 {
    width: 300px;
    min-width: 300px;
    border: 1px solid black;
}
